# =====================
# AI / Python (สำหรับไฟล์ mqtt_audio_receiver.py)
# =====================
__pycache__/
*.py[cod]
venv/
env/
.env_python

# =====================
# Dynamic Audio Files (ไฟล์เสียงที่ระบบสร้างขึ้น)
# =====================
audio_recordings/
negative/
emergency/
audio_received/
app_old.py
mqtt_audio_receiver_old.py